<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="당신을 위한 복지, 여행 Tuflex ">
    <meta property="og:image" content="http://tuflex.kr/img/bg.jpg">
    <meta property="og:title" content="Tuflex " />
    <meta property="og:description" content="당신을 위한 복지, 여행 Tuflex  " />
    <meta property="og:url" content="http://tuflex.kr" />
    <meta property="og:image" content="http://tuflex.kr/img/bg.jpg">
    <meta property="og:title" content="Tuflex " />
    <meta property="og:description" content="당신을 위한 복지, 여행 Tuflex  " />
    <meta property="og:url" content="http://tuflex.kr" />
    <title>Tuflex </title>

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="https://js.tosspayments.com/v1/payment"></script>

</head>

<body>

    <div id="page" class="theia-exception">

        <header class="header menu_fixed">
            <div id="preloader">
                <div data-loader="circle-side"></div>
            </div><!-- /Preload -->
            <div id="logo">
                <a href="/">
                    <img src="img/logo.jpg?v=1" width="150" height="36" alt="" class="logo_normal">
                    <img src="img/logo.jpg?v=1" width="150" height="36" alt="" class="logo">
                </a>
            </div>

            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul th:if="${name == ''}">
                    <li><span><a href="/">홈</a></span></li>
                    <li><span><a href="/help">고객센터</a></span></li>
                    <li><span><a href="/cart">장바구니</a></span></li>
                    <li><span><a href="/signup">회원가입</a></span></li>
                    <li><span><a href="/login">로그인</a></span></li>
                </ul>
                <ul th:if="${name != ''}">
                    <li><span><a href="/">홈</a></span></li>
                    <li><span><a href="/help">고객센터</a></span></li>
                    <li><span><a href="/cart">장바구니</a></span></li>
                    <li><span><a href="#" th:text="${name}"></a></span></li>
                </ul>
            </nav>
        </header>
        <!-- /header -->

        <main>
            <div class="hero_in cart_section">
                <div class="wrapper">
                    <div class="container">
                        <div class="bs-wizard clearfix">
                            <div class="bs-wizard-step active">
                                <div class="text-center bs-wizard-stepnum">장바구니</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="#0" class="bs-wizard-dot"></a>
                            </div>

                            <div class="bs-wizard-step disabled">
                                <div class="text-center bs-wizard-stepnum">결제정보입력</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="#0" class="bs-wizard-dot"></a>
                            </div>

                            <div class="bs-wizard-step disabled">
                                <div class="text-center bs-wizard-stepnum">예약완료</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="#0" class="bs-wizard-dot"></a>
                            </div>
                        </div>
                        <!-- End bs-wizard -->
                    </div>
                </div>
            </div>
            <!--/hero_in-->

            <div class="bg_color_1">
                <div class="container margin_60_35">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="box_cart">
                                <table class="table cart-list">
                                    <thead>
                                        <tr>
                                            <th>
                                                숙소
                                            </th>
                                            <th>
                                                기간
                                            </th>
                                            <th>
                                                인원
                                            </th>
                                            <th>
                                                가격
                                            </th>
                                            <th>
                                                삭제
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="cart, iterator : ${carts}">
                                        <tr>
                                            <td>
                                                <span class="item_cart" th:text="${cart.getName()}"></span>
                                            </td>
                                            <td th:text="${cart.getStartDate() + ' ~ ' + cart.getEndDate()}">

                                            </td>
                                            <td th:text="${'성인 ' + cart.getAdult() + ', 아동 ' + cart.getChild() + '명'}">
                                            </td>
                                            <td>
                                                <strong th:text="${'₩' + cart.getPrice()}"></strong>
                                            </td>
                                            <td class="options" style="width:5%; text-align:center;">
                                                <a th:href="${'javascript:removeCart('+ cart.getPid() +')'}"><i
                                                        class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- /cart-options -->
                            </div>
                        </div>
                        <!-- /col -->

                        <aside class="col-lg-4" id="sidebar">
                            <div class="box_detail">
                                <div id="total_cart">
                                    결제 금액 <span class="float-end" id="price" th:data-price="${price}"
                                        th:text="${'₩' + price}"></span>
                                </div>
                                <ul class="cart_details">
                                </ul>
                                <a href="javascript:toss('card')" class="btn_1 full-width purchase">결제하기</a>
                                <div class="text-center"><small>No money charged in this step</small></div>
                            </div>
                        </aside>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /bg_color_1 -->
        </main>
        <!--/main-->


        <footer>
            <div class="container margin_60_35">

                <div class="row">
                    <div class="col-lg-5 col-md-12 pe-5">
                        <p><img src="img/logo.jpg" width="150" height="36" alt=""></p>
                        <p>너무 좋습니다. 너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무
                            좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무</p>
                        <div class="follow_us">
                            <ul>
                                <li>Follow us</li>
                                <li><a href="#0"><i class="ti-facebook"></i></a></li>
                                <li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#0"><i class="ti-google"></i></a></li>
                                <li><a href="#0"><i class="ti-pinterest"></i></a></li>
                                <li><a href="#0"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 ms-lg-auto">
                        <h5>바로가기</h5>
                        <ul class="links">
                            <li><a href="/">HOME</a></li>
                            <li><a href="notice">공지사항</a></li>
                            <li><a href="help">고객센터</a></li>
                            <li><a href="cart">장바구니</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5>고객센터</h5>
                        <ul class="contacts">
                            <li><a href="tel://15880155"><i class="ti-mobile"></i> + 1588-0155</a></li>
                            <li><a href="mailto:tuflex@tuflex.kr"><i class="ti-email"></i> tuflex@tuflex.kr</a></li>
                        </ul>
                        <div id="newsletter">
                            상담시간: 10:00 ~ 16:00 (토, 일, 공휴일 휴무)
                        </div>
                    </div>
                </div>
        </footer>
        <!--/footer-->
    </div>
    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->

    <!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.js"></script>
    <script src="js/main_rtl.js"></script>
    <script src="phpmailer/validate.js"></script>

    <script>
        function toss(type) {
            var clientKey = 'test_ck_YyZqmkKeP8gDq5QmPZj3bQRxB9lG';
            var today = new Date();
            today.setHours(today.getHours() + 9);
            var oid = today.toISOString().replace('T', ' ').substring(0, 19).replaceAll('-', '').replaceAll(':', '').replaceAll(' ', '');
            var tossPayments = TossPayments(clientKey)
            tossPayments.requestPayment('카드', {
                amount: $("#price").data('price'),
                orderId: oid,
                orderName: '숙소 예약',
                customerName: '',
                successUrl: 'http://211.203.51.244:11000/success',
                failUrl: 'http://211.203.51.244:11000/fail',
            })
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                    } else if (error.code === 'INVALID_CARD_COMPANY') {
                    }
                })
        }

        function removeCart(pid) {
            var data = JSON.stringify({rid: pid});
            $.ajax({
                url: "/api/cart/delete.do", type: 'POST', data: data,
                contentType: "application/json;charset=UTF-8",
                complete: function (e, xhr, settings) {
                    if (e.status == 200) {
                        location.reload()
                    } else {

                    }
                }
            });
        }
    </script>

</body>

</html>