<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="당신을 위한 복지, 여행 Tuflex ">
	<meta name="image" property="og:image" content="http://tuflex.kr/img/bg.jpg">
	<meta name="title" property="og:title" content="Tuflex " />
	<meta name="description" property="og:description" content="당신을 위한 복지, 여행 Tuflex  " />
	<meta name="url" property="og:url" content="http://tuflex.kr" />
	<title>Tuflex </title>

	<!-- Favicons-->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- GOOGLE WEB FONT -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/vendors.css" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="/css/custom.css" rel="stylesheet">

</head>

<body>

	<div id="page">

		<header class="header map_view menu_fixed">
			<div id="preloader">
				<div data-loader="circle-side"></div>
			</div><!-- /Page Preload -->
			<div id="logo">
				<a href="/">
					<img src="img/logo.jpg" width="150" height="28" alt="" class="logo_normal">
					<img src="img/logo.jpg" width="150" height="28" alt="" class="logo">
				</a>
			</div>

			<ul id="top_menu" th:if="${name == ''}">
				<li><a href="cart" class="cart-menu-btn" title="Cart"><strong></strong></a></li>
				<li><a href="login" id="sign-in" class="login" title="Sign In">Sign In</a></li>
				<li><a href="wishlist" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
			</ul>
			<ul id="top_menu" th:if="${name != ''}">
				<li><a href="cart" class="cart-menu-btn" title="Cart"><strong></strong></a></li>
				<li><a href="wishlist" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
			</ul>

			<a href="#menu" class="btn_mobile">
				<div class="hamburger hamburger--spin" id="hamburger">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<nav id="menu" class="main-menu">
				<ul th:if="${name == ''}">
					<li><span><a href="/">홈</a></span></li>
					<li><span><a href="/help">고객센터</a></span></li>
					<li><span><a href="/cart">장바구니</a></span></li>
					<li><span><a href="/signup">회원가입</a></span></li>
					<li><span><a href="/login">로그인</a></span></li>
				</ul>
				<ul th:if="${name != ''}">
					<li><span><a href="/">홈</a></span></li>
					<li><span><a href="/help">고객센터</a></span></li>
					<li><span><a href="/cart">장바구니</a></span></li>
					<li><span><a href="#" th:text="${name}"></a></span></li>
				</ul>
			</nav>
		</header>
		<!-- /header -->

		<main>
			<input type="hidden" id="adult" th:value="${adult}">
			<input type="hidden" id="child" th:value="${child}">
			<input type="hidden" id="start" th:value="${start}">
			<input type="hidden" id="end" th:value="${end}">
			<input type="hidden" id="x" th:value="${x}">
			<input type="hidden" id="y" th:value="${y}">
			<div class="container-fluid full-height">
				<div class="col-lg-12 map-right">
					<div id="map"></div>
					<!-- map-->
				</div>
				<!-- /map-right-->
				<div class="isotope-wrapper"
					style="position: fixed;z-index: 9999;height: 189px;width: 489px;top: 65%;left:40%;display: none;">
					<div class="box_list isotope-item latest" style="width: 100%;">
						<div class="row g-0">
							<div class="col-lg-5">
								<figure>
									<a href="" id="link1"><img id="img1" src="" class="img-fluid" alt="" width="800"
											height="533">
									</a>
								</figure>
							</div>
							<div class="col-lg-7">
								<div class="wrapper">
									<h3><a href="" id="link2"></a></h3>
									<p th:text="${start} + ' ~ ' + ${end}"></p>
								</div>
								<ul>
									<li>
										<span id="rating"></span>
									</li>
									<li>
										<div class="score" id="price"><span></span></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- /container -->
		</main>
		<!-- /main -->

		<footer>
			<div class="container margin_60_35">

				<div class="row">
					<div class="col-lg-5 col-md-12 pe-5">
						<p><img src="img/logo.jpg" width="150" height="36" alt=""></p>
						<p>너무 좋습니다. 너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무
							좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무 좋습니다.너무</p>
						<div class="follow_us">
							<ul>
								<li>Follow us</li>
								<li><a href="#0"><i class="ti-facebook"></i></a></li>
								<li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
								<li><a href="#0"><i class="ti-google"></i></a></li>
								<li><a href="#0"><i class="ti-pinterest"></i></a></li>
								<li><a href="#0"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 ms-lg-auto">
						<h5>바로가기</h5>
						<ul class="links">
							<li><a href="/">HOME</a></li>
							<li><a href="notice">공지사항</a></li>
							<li><a href="help">고객센터</a></li>
							<li><a href="cart">장바구니</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6">
						<h5>고객센터</h5>
						<ul class="contacts">
							<li><a href="tel://15880155"><i class="ti-mobile"></i> + 1588-0155</a></li>
							<li><a href="mailto:tuflex@tuflex.kr"><i class="ti-email"></i> tuflex@tuflex.kr</a></li>
						</ul>
						<div id="newsletter">
							상담시간: 10:00 ~ 16:00 (토, 일, 공휴일 휴무)
						</div>
					</div>
				</div>
		</footer>
		<!--/footer-->
	</div>
	<!-- page -->

	<div id="toTop"></div><!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script src="/js/common_scripts.js"></script>
	<script src="/js/main.js"></script>
	<script src="phpmailer/validate.js"></script>

	<!-- DATEPICKER  -->
	<script>
		$(function () {
			'use strict';
			$('input[name="dates"]').daterangepicker({
				autoUpdateInput: false,
				minDate: new Date(),
				locale: {
					cancelLabel: '초기화',
					applyLabel: '적용'
				}
			}, function (start, end, label) {
				$('#start_date').val(start);
				$('#end_date').val(end);
			});
			$('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
				$('#start_date').val(picker.startDate.format('YYYY-MM-DD'));
				$('#end_date').val(picker.endDate.format('YYYY-MM-DD'));
			});
			$('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
				$(this).val(picker.startDate.format('YYYY-MM-DD') + ' ~ ' + picker.endDate.format('YYYY-MM-DD'));
			});
			$('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
				$(this).val('');
				$('#start_date').val('');
				$('#end_date').val('');
			});
		});
	</script>
	<script type="text/javascript">
		$(function () {
			$(document).on('click', '.btn-login', function () {
				location.href = 'login';
			}).on('click', '#search-btn', function (e) {
				e.preventDefault();
				if ($('#place').val() == '') {
					alert('장소를 입력하세요')
				} else if ($('#start_date').val() == '') {
					alert('체크인 날짜와 체크아웃 날짜를 선택하세요')
				} else if ($('#a').val() == '0') {
					alert('최소 한 명의 성인이 있어야 합니다.')
				} else {
					location.href = "search?k=" + $('#place').val() + '&s=' + $('#start_date').val() + '&e=' + $('#end_date').val() + '&r=' + $('#room').val() + '&a=' + $('#adult').val() + '&c=' + $('#child').val()
				}
			})
			function fetchWeather() {
				$.ajax({
					url: "/api/common/weather.do", type: 'GET',
					success: function (data) {
						$('#weathers').empty();
						console.log(data);
						var weathers = data['weatherList'];
						console.log(weathers);
						weathers.forEach(w => {
							console.log(w);
							console.log(w['type'])
							$('#weathers').append('<div class="owl-item" style="width: 370px;">' +
								'	<div class="item">' +
								'		<div class="box_grid">' +
								'			<div class="wrapper">' +
								'				<h3>' + w['type'] + '</h3>' +
								'				<p>' + w['datetime'] + '</p>' +
								'			</div>' +
								'			<ul>' +
								'				<li style="float: none;"><i class="icon_location"></i>' + w['location'] + '</li>' +
								'			</ul>' +
								'		</div>' +
								'	</div>' +
								'</div>');
						});
					},
					error: function (xhr, status, error) {
						console.log(error)
					}
				});
			}
			fetchWeather();
			var timerID = setInterval(fetchWeather, 60 * 1000 * 5);

			// clearInterval(timerID);

		});
	</script>

	<!-- INPUT QUANTITY  -->
	<script src="/js/input_qty.js"></script>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ebc6b24e32ddea45c807273844256d80"></script>
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new kakao.maps.LatLng(parseFloat($('#y').val()), parseFloat($('#x').val())), // 지도의 중심좌표
				level: 3 // 지도의 확대 레벨
			};

		// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
		var map = new kakao.maps.Map(mapContainer, mapOption);
		kakao.maps.event.addListener(map, 'dragend', function () {

			// 지도 중심좌표를 얻어옵니다 
			var latlng = map.getCenter();

			var message = '변경된 지도 중심좌표는 ' + latlng.getLat() + ' 이고, ';
			message += '경도는 ' + latlng.getLng() + ' 입니다';

			getData(latlng.getLat(), latlng.getLng());
		});
		var markers = [];
		var infos = [];
		function getData(lat, lon) {
			markers.forEach(marker => {
				marker.setMap(null);
			});
			markers = [];

			var data = {lat: lat, lon: lon};
			$.ajax({
				url: "/api/common/search.do", type: 'POST', data: data,
				success: function (data) {
					console.log(data)
					for (var i = 0; i < data.length; i++) {
						var marker = new kakao.maps.Marker({
							map: map,
							position: new kakao.maps.LatLng(data[i]['latitude'], data[i]['longitude']),
							title: data[i]['name'],
							clickable: true
						});
						markers.push(marker);
						infos.push(data[i]);
						kakao.maps.event.addListener(marker, 'click', function () {
							// 마커 위에 인포윈도우를 표시합니다
							console.log(infos[markers.indexOf(marker)]);
							$('.isotope-wrapper').show();
							$('#img1').attr('src', infos[markers.indexOf(marker)]['imageUrl'])
							$('#link2').text(infos[markers.indexOf(marker)]['name'])
							$('#rating').text(infos[markers.indexOf(marker)]['rating'])
							$('#price').text(infos[markers.indexOf(marker)]['price'] + '원')
							$('#link1,#link2').attr('href', 'hotel-detail/' + infos[markers.indexOf(marker)]['pid'] + '?s=' + $('#start').val() + '&e=' + $('#end').val() + '&a=' + $('#adult').val() + '&c=' + $('#child').val())
						});
					}
				}
			});
		}
		getData(parseFloat($('#y').val()), parseFloat($('#x').val()));
	</script>
</body>

</html>